---
layout: base.njk
---
<div class="posts">
    {% for post in posts %}
        {% set league = leagues[post.league] %}

        <div
            class="post"
            data-league="{{ post.league }}"
        >
            <div class="post-info">
                <div class="post-title">{{ post.title }}</div>
                {% if post.league %}
                    <div class="post-league">{{ league.name }}</div>
                {% endif %}
                {% if post.date %}
                    <time class="post-date" datetime="">{{ post.date | htmlDateString }}</time>
                {% endif %}
                {% if post.result %}
                    <div class="post-result">{{ post.result }}</div>
                {% endif %}
                {% if post.text %}
                    <div class="post-text">{{ post.text }}</div>
                {% endif %}
            </div>
            <div class="post-content grid-{{ post.media | length }}">
                {% for media in post.media %}
                    {% if media.type == 'youtube' %}
                        <div class="post-media">
                            <div class="play"></div>
                            <img loading="lazy" class="post-image" src="https://img.youtube.com/vi/{{ media.src }}/0.jpg" alt=""/>
                        </div>
                    {% elif media.type == 'image' %}
                        <img loading="lazy" class="post-image" src="{{ media.src }}" alt=""/>
                    {% endif %}
                {% endfor %}
            </div>
        </div>

    {% endfor %}
</div>
<div class="overlay"></div>
<div class="modal">
</div>