<div
    class="video"
    data-action="open-video"
    data-youtube="{{ media.src }}"
>
    <div class="video__canvas">
        <button class="video__close"><i></i></button>
        <iframe class="video__youtube" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <div class="video__play"></div>
        <img loading="lazy" class="video__image" src="https://img.youtube.com/vi/{{ media.src }}/{{ media.resolution }}.jpg" alt=""/>
    </div>
</div>
