{% for post in posts %}
    {% set league = leagues[post.league] %}
    {% set currentYear = post.date | htmlYearString %}
    {% set prevYear = posts[loop.index0 - 1].date | htmlYearString %}

    {% if loop.first or currentYear != prevYear %}
        <div class="block year" data-year="{{ currentYear }}">
            <div class="year__value fade delay-2">
                {{ currentYear }}
            </div>
        </div>
    {% endif %}

    <div class="block post fade delay-3">
        <div class="post__content">
            {{ year }}
            {% for media in post.media %}
                {% if media.type == 'youtube' %}
                    {% include 'njk/post-youtube.njk' %}
                {% elif media.type == 'image' %}
                    <img loading="lazy" class="image" src="{{ media.src }}" alt=""/>
                {% endif %}
            {% endfor %}
        </div>
        <div class="post__footer">
            {% if post.date %}
                <time datetime="">{{ post.date | htmlDateString }}</time>
            {% endif %}
            <svg xmlns="http://www.w3.org/2000/svg" class="post__icon">
                <use href="#lightning"/>
            </svg>
            {% if post.league %}
                {{ league.name }}
            {% endif %}
            <svg xmlns="http://www.w3.org/2000/svg" class="post__icon">
                <use href="#lightning"/>
            </svg>
            {{ post.title }}
        </div>
    </div>
{% endfor %}
