<div class="timeline fade delay-1">
    {% for post in posts %}
        {% set league = leagues[post.league] %}
        {% set currentYear = post.date | htmlYearString %}
        {% set prevYear = posts[loop.index0 - 1].date | htmlYearString %}

        {% if loop.first or currentYear != prevYear %}
            <button class="timeline__item" data-action="scroll-to-year" data-value="{{ currentYear }}">
              {{ currentYear }}
            </button>
        {% endif %}
    {% endfor %}
</div>
