.lead {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 270px;
    height: 100vh;
    margin: 0 140px;
    text-align: center;
}

.lead__logo {
    width: 132px;
    height: 132px;
}

.lead__title {
    padding-top: 20px;
    font-weight: 400;
    font-size: 25px;
    line-height: 1.2;
}

.lead__subtitle {
    padding-top: 12px;
    font-weight: 400;
    font-size: 12px;
}

