.lead {
    position: relative;
    display: flex;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #4d1616;
    font-family: var(--road-font);
 
    /*background: linear-gradient(0,#23d5ab, #23a6d5);
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background: linear-gradient(0deg, #ee4036, #faae40);*/
    background: linear-gradient(0deg, #ee7752, #cd1b60);
    overflow: hidden;
    /*background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;*/
    /*animation: gradient 25s ease infinite;*/
    /*background: #ee7752 url('/images/rocket.png');*/
}

@keyframes myRocketsUp {
    0% {
        transform: translate(0, 0);
    }
    100% {
        transform: translate(900vw, -900vh);
    }
}

.lead::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 1000%;
    height: 1000%;
    background-image: url('/images/rocket_orange.png');
    background-size: 52px;
    opacity: .6;
    animation: myRocketsUp 180s linear infinite;
}

.lead-content {
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.lead-logo {
    width: 122px;
    height: 122px;
}

.lead-titles {
    position: absolute;
    top: 100%;
    left: 50%;
    margin-top: 36px;
    text-align: center;
    letter-spacing: 0.6px;
    white-space: nowrap;
    transform: translateX(-50%);
}

.lead-title {
    font-weight: 600;
    font-size: 22px;
    padding-bottom: 12px;
}

.lead-subtitle {
    font-weight: 500;
    font-size: 18px;
}

.lead-infinite {
    position: relative;
    top: 4px;
    font-size: 24px;
}
