.post {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 0 20px;
}

.post__content {
    display: flex;
    height: calc(100% - 34px);
}

.post__footer {
    flex-shrink: 0;
    margin-top: 20px;
    font-size: 14px;
}

.post__icon {
    position: relative;
    top: 1px;
    width: 8px;
    height: 10px;
    margin: 0 10px;
}

.image {
    width: 100%;
    max-height: 100%;
}
