.__mobile .post {
    position: relative;
    z-index: 10;
    height: auto;
    margin: 0 0 48px;
}

.__mobile .post__content {
    display: flex;
    flex-direction: column;
    height: auto;
}

.__mobile .post__footer {
    padding: 0 24px;
    font-size: 10px;
}

.__mobile .post__icon {
    margin: 0 6px;
}
