.post {
    margin: 0 20px;
}

.post-content {
    display: flex;
}

.post-footer {
    margin-top: 12px;
    color: #231F20;
    font: 14px/1.2 var(--road-font);
    letter-spacing: 0.05em;
}

.post-image {
    width: 100%;
    max-height: 432px;
    vertical-align: top;
    object-fit: cover;
}

.text {
    max-width: 410px;
    margin-top: -6px;
    font-family: "PT Serif Caption", serif;
    font-size: 26px;
    font-weight: 600;
}

