@font-face {
    font-family: 'RoadRadio';
    src: url('./assets/fonts/road-radio/regular.woff2') format('woff2'),
        url('./assets/fonts/road-radio/regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'RoadRadio';
    src: url('./assets/fonts/road-radio/black.woff2') format('woff2'),
        url('./assets/fonts/road-radio/black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'RoadRadio';
    src: url('./assets/fonts/road-radio/bold.woff2') format('woff2'),
        url('./assets/fonts/road-radio/bold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

:root {
    --road-font: "RoadRadio", "Arial Black", sans-serif;

    --bg-color: #181818;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow: hidden;
    color: #fff;
    font-family: var(--road-font);
    letter-spacing: 0.05em;
    background: var(--bg-color);
}

body.__mobile {
    overflow: visible;
}

image {
    vertical-align: top;
}

.icons {
    display: none;
}

.fade {
    opacity: 0;
    visibility: hidden;
    transform: translateX(40px);
}

.__mobile .fade {
    transform: translateY(40px);
}

.loaded .fade {
    opacity: 1;
    visibility: visible;
    transform: none;
    transition: all 1s ease;
}

.fade.delay-1 {
    transition-delay: 0.2s;
}

.fade.delay-2 {
    transition-delay: 0.4s;
}

.fade.delay-3 {
    transition-delay: 0.6s;
}
