.timeline {
    position: fixed;
    display: flex;
    bottom: 35px;
    left: 40px;
}

.timeline__item:not(:last-child) {
    margin-right: 20px;
}

.timeline__item {
    color: #fff;
    font: 14px/1.2 var(--road-font);
    letter-spacing: 0.05em;
    border: 0;
    outline: 0;
    background: transparent;
    opacity: 0.4;
    transition: all 0.1s ease;
    cursor: pointer;
}

.timeline__item.__active {
    opacity: 1;
}

.timeline__item:not(.__active):hover {
    opacity: 0.7;
}

.timeline__item:active {
    transform: scale(0.992);
}
