{% set css %}
  {% include "styles.css" %}
  {% include "css/lead.css" %}
  {% include "css/post.css" %}
  {% include "css/video.css" %}
{% endset %}
{% set js %}
  {% include "scripts.js" %}
{% endset %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>{{ meta.title }}</title>
    <link rel="icon" type="image/png" sizes="32x32" href="/images/favicons/test.png">
    <meta name="description" content="{{ meta.description }}"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=PT+Sans+Caption:wght@400;700&family=PT+Serif+Caption&display=swap" rel="stylesheet">
    <style>
      {{ css | cssmin | safe }}
    </style>
  </head>
  <body>
    <main class="main">
      {{ content | safe }}
    </main>
    <script defer>
      {{ js | jsmin | safe }}
    </script>
  </body>
</html>
