{% set css %}
  {% include "css/styles.css" %}
  {% include "css/structure.css" %}
  {% include "css/timeline.css" %}
  {% include "css/arrows.css" %}
  {% include "css/controls.css" %}
  {% include "css/year.css" %}
  {% include "css/lead.css" %}
  {% include "css/post.css" %}
  {% include "css/video.css" %}
  {% include "css/structure_mobile.css" %}
  {% include "css/year_mobile.css" %}
  {% include "css/lead_mobile.css" %}
  {% include "css/post_mobile.css" %}
  {% include "css/video_mobile.css" %}
{% endset %}
{% set js %}
  {% include "js/scripts.js" %}
{% endset %}
<!doctype html>
<html lang="ru">
  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>{{ meta.title }}</title>
    <link rel="icon" href="/assets/favicons/icon.ico" sizes="any"/>
    <link rel="icon" href="/assets/favicons/icon.svg" type="image/svg+xml"/>
    <link rel="apple-touch-icon" href="/assets/favicons/apple-touch-icon.png"/><!-- 180×180 -->
    <link rel="manifest" href="/assets/manifest.webmanifest"/>
    <meta name="description" content="{{ meta.description }}"/>
    <style>
      {{ css | cssmin | safe }}
    </style>
  </head>
  <body>
    <main class="main">
      {{ content | safe }}
    </main>
    <script defer>
      {{ js | jsmin | safe }}
    </script>
    <svg id="lightning" viewBox="0 0 6 8" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M0 8L2.51663 4.36261L0.120331 4.28894L5.57583 0L3.40959 3.08815L5.72438 3.0975L0 8Z" fill="currentColor"/>
    </svg>
  </body>
</html>
