{% set css %}
  {% include "styles.css" %}
{% endset %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>{{ meta.title }}</title>
    <meta name="description" content="{{ meta.description }}"/>
    <style>
      {{ css | cssmin | safe }}
    </style>
  </head>
  <body>
    <header>
      Head
    </header>
    <main>
      {{ content | safe }}
    </main>
  </body>
</html>