<div class="post-title">{{ post.title }}</div>
{% if post.league %}
    <div class="post-league">{{ league.name }}</div>
{% endif %}
{% if post.date %}
    <time class="post-date" datetime="">{{ post.date | htmlDateString }}</time>
{% endif %}
