{% for post in posts %}
    {% set league = leagues[post.league] %}
    {% set currentYear = post.date | htmlYearString %}
    {% set prevYear = posts[loop.index0 - 1].date | htmlYearString %}

    {% if loop.first or currentYear != prevYear %}
        <div class="block year" data-year="{{ currentYear }}">
          {{ currentYear }}
        </div>
    {% endif %}

    <div class="block post">
        <div class="post-content">
            {{ year }}
            {% for media in post.media %}
                {% if media.type == 'youtube' %}
                    {% include 'post-youtube.njk' %}
                {% elif media.type == 'image' %}
                    <img loading="lazy" class="post-image" src="{{ media.src }}" alt=""/>
                {% elif media.type == 'text' %}
                    <div class="text">{{ media.src }}</div>
                {% endif %}
            {% endfor %}
        </div>
        <div class="post-footer">
            {% if post.date %}
                <time datetime="">{{ post.date | htmlDateString }}</time>
            {% endif %}
            /
            {% if post.league %}
                <span>{{ league.name }}</span>
            {% endif %}
            /
            <span class="post-title">{{ post.title }}</span>
        </div>
    </div>
{% endfor %}
