@font-face {
    font-family: 'Moscow Sans';
    font-style: normal;
    font-weight: 400;
    src: url("./css/moscow-sans.woff2") format("woff2");
    font-display: swap;
}
  
@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

:root {
    --road-font: "RoadRadio";
}
  

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "PT Sans Caption", "Moscow Sans", "PT Sans", "Helvetica", "Tahoma", sans-serif;


    /*background: linear-gradient(-45deg, #ee4036, #faae40); — orange */
}

.fixed {
    overflow: hidden;
}

.cover {
    position: absolute;
    top: 0;
    left: 0;
}

/* Title */

.title {
    padding: 96px;
    font: bold 32px/1.2 "PT Serif";
    text-align: center;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 60px;
    height: 100%;
    background: lightcyan;
}

.post {
    display: flex;
    justify-content: center;
    padding: 72px 0;
}

.post-info {
    flex-shrink: 0;
    width: 140px;
    margin-right: 48px;
}

.post-title,
.post-league,
.post-date,
.post-result {
    font-size: 16px;
    text-transform: lowercase;
}

.post-title {
    font-weight: 600;
}

.post-date {
    display: block;
    padding-top: 6px;
    font-size: 12px;
}

.post-result {
    padding-top: 12px;
    font-weight: 600;
}

.post-image {
    width: 100%;
    vertical-align: top;
    object-fit: cover;
}

.single-image {
    cursor: pointer;
}

.overlay {
    position: fixed;
    z-index: 99;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
    background: rgba(0, 0, 0, 0.9);
    transition: all .4s ease;
}

.overlay.visible {
    opacity: 1;
    visibility: visible;
}

.modal {
    display: none;
    position: fixed;
    z-index: 100;
    background-size: cover;
    background-repeat: no-repeat;
}

.modal.visible {
    display: block;
}

.modal.animated {
    transition: all .2s ease;
}

.modal-close {
    position: fixed;
    z-index: 101;
    top: 0;
    right: 0;
    width: 80px;
    height: 80px;
    opacity: 0;
    visibility: hidden;
    transition: all 0.9s ease;
    cursor: pointer;
}

.modal-close::before,
.modal-close::after {
    content: "";
    position: absolute;
    width: 40px;
    height: 2px;
    top: 50%;
    left: 50%;
    margin: -1px 0 0 -20px;
    background: #fff;
    transform: rotate(45deg);
}

.modal-close::after {
    transform: rotate(-45deg);
}

.modal-close.visible {
    opacity: 1;
    visibility: visible;
}

.modal-close:hover {
    transform: scale(1.1);
}

.youtube {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
}

.text {
    font-family: "PT Serif Caption";
    font-weight: 400;
    font-size: 20px;
    font-weight: 600;
}

.post-content {
    width: 640px;
}
