@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

:root {
    --road-font: "RoadRadio";
    --sans-font:  "PT Sans Caption", "PT Sans", "Helvetica", "Tahoma", sans-serif;
}
  

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--sans-font);
}

.fixed {
    overflow: hidden;
}

.cover {
    position: absolute;
    top: 0;
    left: 0;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 60px;
    height: 100%;
    background: lightcyan;
}

.post {
    display: flex;
    justify-content: center;
    padding: 72px 0;
}

.post-info {
    flex-shrink: 0;
    width: 140px;
    margin-right: 48px;
}

.post-title,
.post-league,
.post-date {
    font-size: 16px;
    text-transform: lowercase;
}

.post-title {
    font-weight: 600;
}

.post-date {
    display: block;
    padding-top: 6px;
    font-size: 12px;
}

.post-image {
    width: 100%;
    vertical-align: top;
    object-fit: cover;
}

.text {
    max-width: 410px;
    margin-top: -6px;
    font-family: "PT Serif Caption", serif;
    font-size: 36px;
    font-weight: 600;
}

.post-content {
    width: 640px;
}
