@font-face {
    font-family: 'RoadRadio';
    src: url('./css/fonts/road-radio/regular.woff2') format('woff2'),
        url('./css/fonts/road-radio/regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'RoadRadio';
    src: url('./css/fonts/road-radio/black.woff2') format('woff2'),
        url('./css/fonts/road-radio/black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'RoadRadio';
    src: url('./css/fonts/road-radio/bold.woff2') format('woff2'),
        url('./css/fonts/road-radio/bold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

:root {
    --road-font: "RoadRadio", "Arial Black", sans-serif;
    --sans-font:  "PT Sans Caption", "PT Sans", "Helvetica", "Tahoma", sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--road-font);
    height: 100vh;
    overflow-y: hidden;
}

.fixed {
    overflow: hidden;
}

.main {
    display: flex;
    width: max-content;
    height: 100%;
    align-items: center;
    background: linear-gradient(90deg, #faaf40, #bf413a);
}

.block {
    flex-shrink: 0;
}

.year {
    position: relative;
    z-index: 1;
    display: flex;
    align-items: center;
    width: 290px;
    margin-left: 96px;
    font-weight: 900;
    font-size: 300px;
    pointer-events: none;
}

.timeline {
    position: fixed;
    display: flex;
    bottom: 20px;
    left: 40px;
}

.timeline-item:not(:last-child) {
    margin-right: 20px;
}

.timeline-item {
    color: #231f20;
    font: 12px/1.2 var(--road-font);
    letter-spacing: 0.05em;
    border: 0;
    outline: 0;
    background: transparent;
    opacity: 0.4;
    transition: opacity 0.1s ease;
    cursor: pointer;
}

.timeline-item.active {
    opacity: 1;
}
